footer
    background-color: $main-color
    color: $white
    padding: 20px 0
    // .counter
    //     display: flex
    //     justify-content: center
    //     >p
    //         margin-left: auto 
    //     >a
    //         margin: 0 auto
    .webInformation
        text-align: center
        font-weight: 200
        font-size: 0.8rem
        line-height: 1.5rem
        ul
            display: flex
            justify-content: center
            list-style-image: url('../images/square-footer.jpg')
            margin-bottom: 0
            +pc
                flex-direction: column
                list-style-image: none
                list-style: none
                padding: 0
            li
                margin: 0 1.4rem
    p
        margin: 0