/*====主要設定====*/
header
    background: url(../images/2017.jpg) center center
    background-size: cover
    height: 100vh
    position: relative
    &:before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        // background-color: rgba(0, 0, 0, 0.5)
nav
    // position: fixed!important
    // width: 100%
    z-index: 100
    // height: 80px
.bg-primary
    background-color: $main-color
#navbarSupportedContent
    position: relative
    ul
        @media(min-width:992px)
            position: absolute
            right: 0
        li
            a
                color: $white
                &:hover
                    color: $important-color
.banner
    display: flex
    justify-content: center
    flex-direction: column
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    // background-color: rgba(0, 0, 0, 0.4s)
    width: 1100px
    height: 300px
    @include phone()
        // left: 0%
    h1
        color: $main-color
        font-weight: 800
        line-height: 1.2em
        @include phone()
            font-size: 1.4em
            font-weight: 800
.n-title
    position: absolute
    top: -100px
    left: 0
    iframe
        border: none
        width: 300px
        height: 300px
.ch-title
    position: absolute
    top: 220px
    font-weight: 800
    text-align: left
    // font-size: 3em
.en-title
    position: absolute
    top: 350px
    font-weight: 800
    text-align: left
    // font-size: 1.5em
main
    // padding: 100px 0

.sign
    position: fixed
    z-index: 101
    bottom: 5%
    right: 5%
    animation: rotate 1.5s 0s infinite both
    @include pad
        bottom: 2%
        right: 2%
    >img
        display: block
        width: 100px
        height: 100px
        @include pad
            width: 70px
            height: 70px

@keyframes rotate
	0%
		transform:  scale(0.9,0.9)
	50%
		transform:  scale(1,1)
	100%
		transform:  scale(0.9,0.9)