.container
    .banner
        img(src="images/theme.png", alt="")
        //- h1.title 2017 年營養醫學研討會
        //- h1.ch-title 營養醫學在癌症預防與治療扮演的角色
        //-     br
        //-     | 從實驗室到臨床
        //- h1.en-title The Role of Nutrition in Cancer Treatment and Prevention
        //-     br 
        //-     | - From Bench to Clinic
//- span.color-bar