//- credit
#credit.credit
    h2 學分數
    .container
        table.table.table-hover.table-bordered
            thead.thead-inverse
                tr
                    th(height='25', colspan='2', align='center', valign='middle') 醫師
                    th(height='25', colspan='2', align='center', valign='middle') 藥師
                    th(height='25', colspan='2', align='center', valign='middle') 護士‧護理師
                    th(height='25', colspan='2', align='center', valign='middle') 營養師
                    th(height='25', colspan='2', align='center', valign='middle') 其他
            tbody
                tr.table-dark
                    td(align='center', valign='middle', bgcolor='#eeeeee', width='10%') 名稱
                    td(align='center', valign='middle', bgcolor='#eeeeee', width='6%') 學分
                    td(align='center', valign='middle', bgcolor='#eeeeee', width='10%') 名稱
                    td(align='center', valign='middle', bgcolor='#eeeeee', width='6%') 學分
                    td(align='center', valign='middle', bgcolor='#eeeeee', width='10%') 名稱
                    td(align='center', valign='middle', bgcolor='#eeeeee', width='6%') 學分
                    td(align='center', valign='middle', bgcolor='#eeeeee', width='10%') 名稱
                    td(align='center', valign='middle', bgcolor='#eeeeee', width='6%') 學分
                    td(align='center', valign='middle', bgcolor='#eeeeee', width='10%') 名稱
                    td(align='center', valign='middle', bgcolor='#eeeeee', width='6%') 學分
                tr
                    td
                        | 中華民國醫師公會
                        br
                        | 全國聯合會
                    td 12.8
                    td
                        | 中華民國藥師公會
                        br
                        | 全國聯合會
                    td 6.4
                    td
                        | 中華民國護理師護士公會
                        br
                        | 全國聯合會
                    td 6.4
                    td
                        | 中華民國營養師公會
                        br
                        | 全國聯合會
                    td 6.4
                    td 中華民國糖尿病衛教學會
                    td 申請中