//- credit
#credit.credit.d-flex.flex-column.align-items-center
    h2.h2-title 學分數
    .container
        table.table.table-bordered
            thead.thead-inverse
                tr
                    th(height='25', colspan='2', align='center', valign='middle') 醫師
                    th(height='25', colspan='2', align='center', valign='middle') 藥師
                    th(height='25', colspan='2', align='center', valign='middle') 護士‧護理師
                    th(height='25', colspan='2', align='center', valign='middle') 營養師
                    th(height='25', colspan='2', align='center', valign='middle') 醫檢人員
            tbody
                tr.thead-other
                    td(align='center', valign='middle', width='10%') 名稱
                    td(align='center', valign='middle', width='6%') 學分
                    td(align='center', valign='middle', width='10%') 名稱
                    td(align='center', valign='middle', width='6%') 學分
                    td(align='center', valign='middle', width='10%') 名稱
                    td(align='center', valign='middle', width='6%') 學分
                    td(align='center', valign='middle', width='10%') 名稱
                    td(align='center', valign='middle', width='6%') 學分
                    td(align='center', valign='middle', width='10%') 名稱
                    td(align='center', valign='middle', width='6%') 學分
                //- 1
                tr
                    td
                        | 中華民國醫師公會全國聯合會
                    td(align='center', valign='middle') 8
                    td
                        | 中華民國藥師公會
                        br
                        | 全國聯合會
                    td(align='center', valign='middle') 8
                    td
                        | 中華民國護理師護士公會全國聯合會
                    td(align='center', valign='middle') 8
                    td
                        | 中華民國營養師公會
                        br
                        | 全國聯合會
                    td(align='center', valign='middle') 品質學分8
                    td 中華民國醫事檢驗師公會
                        br
                        | 全國聯合會
                    td(align='center', valign='middle') 6.9
                //- 2
                tr
                    td
                        | 中華民國癌症醫學會
                    td(align='center', valign='middle') 腫瘤內科Ａ類3
                    td
                        | 社團法人
                        br
                        | 臺灣臨床藥學會
                    td(align='center', valign='middle') 6.9
                    td
                        | 台灣專科護理師學會
                    td(align='center', valign='middle') 8
                    td
                        | 台灣靜脈暨腸道營養醫學會
                    td(align='center', valign='middle') 6
                    td 中華民國醫事放射師
                        br
                        | 全國聯合會
                    td(align='center', valign='middle') 8
                //- 3
                tr
                    td
                        | 中華民國癌症醫學會
                    td(align='center', valign='middle') 腫瘤外科Ａ類3
                    td
                        | 中華民國內分泌暨糖尿病學會
                    td(align='center', valign='middle') 乙類3
                    td
                        | 社團法人台灣護理學會
                    td(align='center', valign='middle') 8
                    td
                        | 中華民國內分泌暨糖尿病學會
                    td(align='center', valign='middle') 乙類3
                    td 臺灣醫事檢驗學會
                    td(align='center', valign='middle') 8
                //- 4
                tr
                    td
                        | 台灣醫學會
                    td(align='center', valign='middle') 6.9
                    td
                    td(align='center', valign='middle') 
                    td
                        | 中華民國內分泌暨糖尿病學會
                    td(align='center', valign='middle') 乙類3
                    td
                    td(align='center', valign='middle') 
                    td 
                    td(align='center', valign='middle') 
                //- 5
                tr
                    td 台灣內科醫學會
                    td(align='center', valign='middle') 10
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle')
                    td
                    td(align='center', valign='middle') 
                    td 
                    td(align='center', valign='middle') 
                //- 6
                tr
                    td 台灣放射腫瘤醫學會
                    td(align='center', valign='middle') 5
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td 
                    td(align='center', valign='middle') 
                //- 7
                tr
                    td 中華民國放射線醫學會
                    td(align='center', valign='middle') 2
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td 
                    td(align='center', valign='middle') 
                //- 8
                tr
                    td 台灣肺癌學會
                    td(align='center', valign='middle') 1
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td 
                    td(align='center', valign='middle') 
                //- 9
                tr
                    td 台灣婦科醫學會
                    td(align='center', valign='middle') 1
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td 
                    td(align='center', valign='middle') 
                //- 10
                tr
                    td 台灣頭頸部腫瘤醫學會
                    td(align='center', valign='middle') 醫學教育2
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td 
                    td(align='center', valign='middle') 
                //- 11
                tr
                    td 台灣外科醫學會
                    td(align='center', valign='middle') 10
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td 
                    td(align='center', valign='middle') 
                //- 12
                tr
                    td
                        | 中華民國內分泌暨糖尿病學會
                    td(align='center', valign='middle') 乙類3
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td 
                    td(align='center', valign='middle') 
                //- 13
                tr
                    td
                        | 台灣癌症熱治療學會
                    td(align='center', valign='middle') 3小時訓練證明
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td
                    td(align='center', valign='middle') 
                    td 
                    td(align='center', valign='middle') 