.container
    .webInformation
        ul
            li 主辦單位：台灣營養醫學推廣協會
            li 協辦單位：待補
            li 贊助單位：新賀斯國際有限公司
            li 指導單位：衛生福利部食品藥物管理
        //- p ■ 主辦單位：台灣營養醫學推廣協會     ■ 協辦單位：待補     ■ 贊助單位：新賀斯國際有限公司     ■ 指導單位：待補
        p
        | 台灣營養醫學推廣協會 版權所有 © 2017 Taiwan Nutraceutical Association. All Rights Reserved.
        p 本網站最佳瀏覽建議使用Chrome 瀏覽器
    //- .webInformation.phone 
    //-     p ■ 主辦單位：台灣營養醫學推廣協會
    //-     br
    //-     | ■ 協辦單位：待補
    //-     br 
    //-     | ■ 贊助單位：新賀斯國際有限公司、美商頤登股份有限公司
    //-     p(style='font-size: 1em')
    //-     | 台灣營養醫學推廣協會   版權所有 © 
    //-     br
    //-     | 2017 Taiwan Nutraceutical Association.
    //-     br 
    //-     | All Rights Reserved. 
    //-     br
    //-     | 協會專線：( 02 ) 2546 - 8824
        //- br
        //- | 本網站最佳瀏覽建議使用Chrome  瀏覽器