//- information
#information.information
    .container
        .row
            .col-12.col-xl-6.mr-auto
                h2.h2-title 報名資訊
                ul 
                    li 報名費
                        ul.list-group
                            li.list-group-item 
                                p 協會及協辦單位會員
                                p 
                                    span 300
                                    | 元
                            li.list-group-item
                                p 學生(憑學生證)
                                p 
                                    span 200
                                    | 元
                            li.list-group-item
                                p 非會員
                                p 
                                    span 400
                                    | 元
                    li 截止日期：即日起至106年10月31日止
                    li 聯絡人：郭玲君 小姐
                    li 電話：( 02 ) 2546 - 8824
                    li 傳真：( 02 ) 2545 - 9225
                        br
                        | 報名方式：可利用傳真、
                        a(href='mailto:info@nutraceutical.org.tw') E-MAIL
                        | 或線上報名。
                        span （報名完成後，將會與您聯絡通知活動簽到序號及繳費方式。）
                            br
                            | ＊為響應環保，現場不提供紙杯，請自行準備水杯，謝謝。
                        button.btn.btn-primary.btn-lg.btn-block.sign-btn.active.pc(type='button',onclick="location.href='http://nutraceutical.org.tw/online_all.php?class_id=142'") 立 即 報 名
                button.btn.btn-primary.btn-lg.btn-block.sign-btn.active.phone(type='button',onclick="location.href='http://nutraceutical.org.tw/online_all.php?class_id=142'") 立 即 報 名