//- information
#information.information
    h2 活動資訊
    .container
        .content.about-content.row.justify-content-md-center.information-content
            .col.phone
                img(src='images/information.jpg')
            .col
                h6 ★ 活動日期：106年11月26日 ( 星期日 ) 08：30AM - 05：30PM
                ul 
                    li 活動場地： 張榮發基金會國際會議中心11樓 ( 1101 會議廳 )
                    li 活動地點： 10048 台北市中正區中山南路11號
                    li 主辦單位： 台灣營養醫學推廣協會
                    li 指導單位： 衛生福利部食品藥物管理
                    li 協辦單位： 
                    li 贊助單位： 新賀斯國際有限公司、美商頤登股份有限公司
                    li 活動對象： 醫師、藥師、護理師、營養師、醫事檢驗師、放射線技師、放射治療師
                h6 ★ 注意事項：
                ul 
                    li 報名方式：可利用傳真報名與 
                        a(href='mailto:info@nutraceutical.org.tw') E - MAIL
                        |  報名 或 
                        a(href='http://nutraceutical.org.tw/eventsMember_01.php?class_id=142', target='_blank') 線上報名
                        | 。
                        br
                        | ( 完成報名後，協會將會與您聯絡並通知活動當天簽到序號及繳交報名費方式。)
                    li 報名費：非會員400元 ( 協會及協辦單位會員300 元，學生憑學生證優惠200元 ) 。
                    li 截止日期：即日起至106年10月31日止。
                    li 聯絡人：郭玲君 小姐
                    li 聯絡電 話：( 02 ) 2546 - 8824
                    li 為響應環保，現場不提供紙杯，請自行準備水杯，謝謝。
            .col.pc
                img(src='images/information.jpg')
            