//- introduction
#introduction.introduction
  .container
    .row
      .col-12.col-md-8.ml-auto
        h2.h2-title 活動介紹
        p(style="margin-top: 37px;")
          | 營養醫學(Nutraceutical)為「整合性醫療」中的一個重要部份，其應用領域相當廣泛，包括已蟬聯33年國人十大死因的癌症以及心臟血管疾病、腎臟疾病、自體免疫疾病、盛行率逐年攀升的糖尿病、精神疾病與難以根治的過敏氣喘問題等，皆可透過營養醫學之營養補充品獲得良好改善。
        p
          | 台灣營養醫學推廣協會多年來一直在推廣「營養醫學」觀念，本次研討會將針對營養醫學在癌症、心血管與肝臟疾病的研究及臨床應用做探討。期望可透過營養醫學專家分享其研究成果，提供可能的研究方向與實際應用，進而凝聚共識，更期待台灣在營養醫學的基礎與臨床應用研究可以有更多的發展，為國人的健康提供更完善的醫療規劃。