//- location
#location.location
    h2.h2-title 時間地點
    .container
        .row
            .col-12.col-lg-4
                img(src="../images/calendar.svg", alt="")
                h3 日 期
                p 106年11月26日 ( 星期日 )
            .col-12.col-lg-4
                img(src="../images/time.svg", alt="")
                h3 時 間
                p 08：30AM - 05：30PM
                    br
                    |(8:20 開始報到)
            .col-12.col-lg-4
                img(src="../images/location.svg", alt="")
                h3 地 點
                p 10048 台北市中正區中山南路11號
                    br
                    | 張榮發基金會國際會議中心11樓 
                    br
                    | ( 1101 會議廳 )