//- meeting
#meeting.meeting
    h2.h2-title 議程表
    .container
        table.table.table-hover.table-bordered
            thead.thead-inverse
                tr
                    th(width='6%', height='25') 項次
                    th(width='6%', height='25') 時間
                    th(width='37%', height='25') 課程主題及內容概要
                    th(width='0%', height='25') 授課講師
                    th(width='27%', height='25') 引言人
            tbody
                tr.thead-other
                    td(align='center') 01
                    td(align='center') 08:20 - 09:00
                    td(colspan='3', align='center') 報到
                tr
                    td(align='center') 02
                    td(align='center') 09:00 - 09:05
                    td 開場 - 理事長致詞
                    td(colspan='2') 台灣營養醫學推廣協會理事長 - 陳伯中 教授
                tr
                    td(align='center') 03
                    td(align='center') 09:05 - 09:15
                    td 貴賓致詞
                    td(colspan='2') 臺北醫學大學臺北癌症中心院長 - 彭汪嘉康 院士
                tr
                    td(align='center') 04
                    td(align='center') 09:15 - 09:20
                    td 貴賓致詞
                    td(colspan='2') 台灣營養學會理事長 - 王果行 教授
                tr
                    td(align='center') 05
                    td(align='center') 09:20 - 09:50
                    td New concepts for nutraceutical application in cancer.
                    td
                        | 台灣營養醫學推廣協會創會暨榮譽理事長
                        br
                        | 夏滉 博士
                    td(valign='top')
                        | 基隆長庚醫院
                        br
                        | 癌症中心主任
                        br
                        | 王正旭 醫師
                tr
                    td(align='center') 06
                    td(align='center') 09:50 - 10:35
                    td(style='text-justify: inter-cluster;')
                        | The clinical application of coenzyme Q10 supplements in hepatocellular carcinoma patients after surgery.
                    td
                        | 中山醫學大學
                        br
                        | 健康管理學院營養學系
                        br
                        | 林娉婷 副教授
                    td(valign='top')
                        | 台灣營養醫學推廣協會理事長
                        br
                        | 陳伯中 教授
                tr.thead-other
                    td(align='center') 07
                    td(align='center') 10:35 - 10:50
                    td(colspan='3', align='center') 交流時間
                tr
                    td(align='center') 08
                    td(align='center') 10:50 - 11:35
                    td
                        | The synergistic effect and mechanism of total nutrition supplement with radiation in lung cancer bearing mice.
                    td(valign='top')
                        | 臺北榮民總醫院
                        br
                        | 腫瘤醫學部放射腫瘤科主任
                        br
                        | 劉裕明 醫師
                    td(valign='top')
                        | 亞東紀念醫院
                        br
                        | 放射腫瘤科主任
                        br
                        | 熊佩韋 醫師
                tr.thead-other
                    td(align='center') 09
                    td(align='center') 11:35 - 12:00
                    td(colspan='3', align='center') 上午課程總結 / 綜合座談 Q&A
                tr.thead-other
                    td(align='center') 10
                    td(align='center') 12:00 - 13:00
                    td(colspan='3', align='center') 午餐
                tr
                    td(align='center') 11
                    td(align='center') 13:00 - 13:45
                    td
                        | Dietary supplementation with a special nutritional formula protects lipolytic and thermogenic deplation of adipose in cachectic mice treated with erlotinib.
                    td(valign='top')
                        | 弘光科技大學
                        br
                        | 營養系暨營養醫學研究所
                        br
                        | 王涵 助理教授
                    td(valign='top')
                        | 國立臺灣海洋大學
                        br
                        | 食品科學系
                        br
                        | 吳彰哲 特聘教授
                tr
                    td(align='center') 12
                    td(align='center') 13:45 - 14:30
                    td
                        | Combination of selenium yeast and fish oil reverses the gefitinib resistance of HCC827GR human lung cancer cells.
                    td(valign='top')
                        | 臺北市立萬芳醫院
                        br
                        | 硏究部醫學研究員
                        br
                        | 姚智榮 博士
                    td(valign='top')
                        | 臺北醫學大學臺北癌症中心
                        br
                        | 高瑞和 副院長
                tr
                    td(align='center') 13
                    td(align='center') 14:30 - 15:15
                    td
                        | The effectiveness of combining nutraceutical supplement with chemotherapy or targeted therapy on reducing tumor progression in triple-negative breast cancer-bearing mice.
                    td(valign='top')
                        | 弘光科技大學
                        br
                        | 營養醫學研究所
                        br
                        | 郭志宏 教授
                    td(valign='top')
                        | 台灣營養學會理事長
                        br
                        | 王果行 教授
                tr.thead-other
                    td(align='center') 14
                    td(align='center') 15:15 - 15:30
                    td(colspan='3', align='center') 交流時間
                tr
                    td(align='center') 15
                    td(align='center') 15:30 - 16:15
                    td
                        | The synergistic and protection effects of total nutrition supplement to pelvic radiation in cancer bearing mice.
                    td(valign='top')
                        | 臺北榮民總醫院
                        br
                        | 腫瘤醫學部放射腫瘤科主任
                        br
                        | 劉裕明 醫師
                    td(valign='top')
                        | 亞東纪念醫院
                        br
                        | 放射腫瘤科主任
                        br
                        | 熊佩韋 醫師
                tr
                    td(align='center') 16
                    td(align='center') 16:15 - 17:00
                    td
                        | Recent advance of demethylation agent in cancer therapy-the role of nutritional medicine.
                    td(valign='top')
                        | 臺北市立萬芳醫院
                        br
                        | 癌症中心主任
                        br
                        | 賴基銘 醫師
                    td(valign='top')
                        | 臺北醫學大學
                        br
                        | 臺北癌症中心院長
                        br
                        | 彭汪嘉康 院士
                tr.thead-other
                    td(align='center') 17
                    td(align='center') 17:00 - 17:30
                    td(colspan='3', align='center') 下午課程總結 / 綜合座談 Q&A