.navbar.navbar--collapse
    .nav.navbar__nav
        a(href="#popup-overlay").menu-toggle
            span
            span
            span
        #popup-overlay.popup-menu.clearfix
                .popup-menu__box
                    a(href="").popup-menu__close
                        span
                        span
                ul
                    li
                        a.popup-menu__item(href="#about") 關於我們 
                    li
                        a.popup-menu__item(href="#information") 活動資訊
                    li
                        a.popup-menu__item(href="#location") 活動地點
                    li
                        a.popup-menu__item(href="#meeting") 議程表
                    li
                        a.popup-menu__item(href="#credit") 學分數