nav.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand(href='#').phone 台灣營養醫學推廣協會
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.about-btn
                a.nav-link(href='#introduction') 活動介紹 
            li.nav-item.information-btn
                a.nav-link(href='#location') 時間地點
            li.nav-item.location-btn
                a.nav-link(href='#traffic') 交通方式
            li.nav-item.location-btn
                a.nav-link(href='#information') 報名資訊
            li.nav-item.meeting-btn
                a.nav-link(href='#meeting') 議程表
            li.nav-item.credit-btn
                a.nav-link(href='#credit') 學分數
        span.navbar-text 02 - 2546 - 8824
