nav.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand(href='index.html').phone Home
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link.introduction-btn(href='#introduction') 活動介紹 
            li.nav-item
                a.nav-link.location-btn(href='#location') 時間地點
            li.nav-item
                a.nav-link.traffic-btn(href='#traffic') 交通方式
            li.nav-item
                a.nav-link.information-btn(href='#information') 報名資訊
            li.nav-item
                a.nav-link.meeting-btn(href='#meeting') 議程表
            li.nav-item
                a.nav-link.credit-btn(href='#credit') 學分數
        span.navbar-text(onclick="location.href='tel:02-2546-8824'") 02 - 2546 - 8824
