//- nav.navbar.navbar-expand-lg.navbar-dark.bg-primary#myScrollspy.top-bar.navbar-fixed-top.navbar-custom
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary#myScrollspy.top-bar.navbar-fixed-top.navbar-custom
    .container
        a.navbar-brand(href='') 2017 營養醫學研討會
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.about-btn
                    a.nav-link(href='#about') 關於我們 
                li.nav-item.information-btn
                    a.nav-link(href='#information') 活動資訊
                li.nav-item.location-btn
                    a.nav-link(href='#location') 活動地點
                li.nav-item.meeting-btn
                    a.nav-link(href='#meeting') 議程表
                li.nav-item.credit-btn
                    a.nav-link(href='#credit') 學分數