#unit.unit
    .container.d-flex.flex-column.align-items-stretch
        .unit-card.d-flex.justify-content.flex-column.align-items-center
            h2.h2-title 主辦單位
            p.mt-3 台灣營養醫學推廣協會
        .unit-card.d-flex.justify-content.flex-column.align-items-center
            h2.h2-title(style="margin-top: 37px;") 協辦單位
            p.mt-3.text-center.pc 台灣營養學會、台灣癌症基金會、乳癌防治基金會、財團法人癌症希望基金會
                br
                |中華民國藥師公會全國聯合會、台灣癌症熱治療學會、新健康營養諮詢中心
            p.mt-3.text-center.phone 台灣營養學會
                br
                |台灣癌症基金會
                br
                |乳癌防治基金會
                br
                |財團法人癌症希望基金會
                br
                |中華民國藥師公會全國聯合會
                br
                |台灣癌症熱治療學會
                br
                |新健康營養諮詢中心
        .unit-card.d-flex.justify-content.flex-column.align-items-center
            h2.h2-title(style="margin-top: 37px;") 贊助單位
            p.mt-3.pc 新賀斯國際有限公司、Do Well Laboratories, Inc.
            p.mt-3.text-center.phone 新賀斯國際有限公司
                br
                |Do Well Laboratories, Inc.